.modal-overlay {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
}


.modal-window {
  width: 600px;
  border-radius: 5px;
  background: #fff;
  /*temp*/
  height: 200px;
}
