@page
@model WhenINeedToWork.Pages.HelpModel
@{
}

<head>
  <div class="text-center">
    <h1>Справка</h1>
    <p>Для построения календаря по своему графику, выберите первый рабочий день и график работы, затем нажмите "Построить календарь".</p>
    <img src="images/startHelp.png"></img>
    <p>Для добавления событий на календарь, нажмите на соответсвующую дату, заполните необходимые пункты и нажмите сохранить.</p
    <p>Внимание, для получения доступа к этим действиям авторизуйтесь на сайте.</p>
    <img src="images/addEvent.png"></img>
    <p>Для изменения событий на календаре, нажмите правой кнопкой мыши на необходимую дату, выберите "обновить", затем см. выше.</p>
    <img src="images/redactEvent.png"></img>
    <p></p>
    <a asp-page="/Index">Вернуться на главную</a>
  </div>
</head>